{% extends 'met/base.html' %}

{% block content %}

<header>
  <div class="row">
    <div class="col-sm-11">
      <h2>About MET Art</h2>
    </div>
    <div class="col-xs-1">
      <a class="btn btn-outline-secondary" href="{{request.META.HTTP_REFERER}}">Back</a>
    </div>
  </div>
</header>

<p>This site uses highlighted artwork from the Metropolitan Museum of Art Open Access'<a href= "https://www.kaggle.com/metmuseum/the-metropolitan-museum-of-art-open-access" alt= "MET Dataset of Open Access Art"> Dataset.</a> This dataset includes 1834 pieces of art, and the metadata has been taken directly from the dataset.
</p>

{% endblock content %}