<!-- Restore missing template tags -->
{% extends 'met/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

  <header>
    <div class="row">
      <div class="col-sm-11">
        <h2>Artwork Update</h2>
      </div>
      <div class="col-xs-1">
        <a class="btn btn-outline-secondary" href="{{request.META.HTTP_REFERER}}">Back</a>
      </div>
    </div>
  </header>

  <!-- novalidate attribute required to render validation messages -->
  <form method="post" novalidate>
  {% csrf_token %}



    <div class="row">
      <div class="col-6">
        {{ form.accession_number|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        {{ form.is_public_domain|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        {{ form.department|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        {{ form.classification|as_crispy_field }}
      </div>
    </div>


    <div class="row">
      <div class="col-6">
        {{ form.artwork_type|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        {{ form.title|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        {{ form.year_begin_end|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        {{ form.year_begin|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        {{ form.year_end|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        {{ form.medium|as_crispy_field }}
      </div>
    </div>
    
    <div class="row">
      <div class="col-6">
        {{ form.dimensions|as_crispy_field }}
      </div>
    </div>
    
    <div class="row">
      <div class="col-6">
        {{ form.acquired_from|as_crispy_field }}
      </div>
    </div>

     <div class="row">
      <div class="col-6">
        {{ form.city|as_crispy_field }}
      </div>
    </div>

     <div class="row">
      <div class="col-6">
        {{ form.city|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        {{ form.country|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        {{ form.region|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        {{ form.resource_link|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        {{ form.rights_and_reproduction|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        {{ form.repository|as_crispy_field }}
      </div>
    </div>




   <button type="submit" class="btn btn-outline-success">Update</button>
  
  <!-- Restore missing button -->
    &nbsp;<a class="btn btn-outline-secondary" href="{% url 'art' %}">Cancel</a>

</form>

{% endblock content %}