{% extends 'met/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

  <div class="row">
    <div class="col-sm-3">
      <div class="px-2 py-2" style="border:1px solid #8E8D8A;">
        <form action="" method="get">
          {{ filter.form|crispy }}
          <!-- add a submit button -->

          <button type="submit" class="btn btn-outline-success">Filter</button>
    		<!-- &nbsp;<a class="btn btn-outline-secondary" href="{% url 'sites' %}">cancel</a> -->

        </form>
      </div>
    </div>
    <div class="col-sm-9">
      {% for art in object_list %}

        <h4><a href="{% url 'art_detail' art.pk %}">{{ art.title | safe }}</a></h4>

        <!-- add the artist template tags -->

<!-- 		   {% if art.country_area_names %}
		    <div class="row">
		      <div class="col-sm-10">
		      	<p> 
		        {{ site.country_area_names | safe }}
		      </div>
		    </div>
		  {% endif %} -->

		    {% if art.classification %}
		       <div class="row">
		         <div class="col-sm-10">
		           {{ art.classification | safe }}
		         </div>
		       </div>
		     {% endif %}


    {% empty %}
      Select one or more filters relevant to your search and then click "filter".
    {% endfor %}
    </div>
  </div>


{% endblock content %}